<!DOCTYPE html>
<html>
<body>
<h1 style="text-align:center;">	SUMMARY OF {{label}}</h1>
<h2 style="color:black;"> STATS (CURWEEK vs LASTWEEK):</h2>
<p style="font-size:120%; color:FireBrick;" id="stats">
MEAN: 
<script >
	document.getElementById("stats").innerHTML += {{curWeekStat['mean']}}.toFixed(3) + " , Last Week: " + {{lastWeekStat['mean']}}.toFixed(3);
</script>

<br>MAX: 
<script >
	document.getElementById("stats").innerHTML += {{curWeekStat['max']}}.toFixed(3) + " , Last Week: " + {{lastWeekStat['max']}}.toFixed(3);
</script>

<br>MIN: 
<script >
	document.getElementById("stats").innerHTML += {{curWeekStat['min']}}.toFixed(3) + " , Last Week: " + {{lastWeekStat['min']}}.toFixed(3);
</script>
</p>

<img align="right" id = "trendPlot"/>
<script>
	var params = "label="+{{label|safe}}+"&datafile=" + {{datafile|safe}};
	if({{execSpeed}} != null){
		params += "&execSpeed=" + {{execSpeed|safe}};
	}
	if({{trendType}} != null){
		params += "&trendType=" + {{trendType|safe}};
	}
	if({{zoom}} != null){
		params += "&zoom=" + {{zoom|safe}};
	}
	document.getElementById("trendPlot").src = "\\trend.png\\?"+params;
</script>

<h2>THE FOLLOWING VARIABLES MAY HAVE AFFECTED THE {{label}}	</h2>

<h3 style="color:green;">POSITIVE EFFECT</h3>
<p style="color:green;" id="positive"/>

<h3 style="color:red;">	NEGATIVE EFFECT</h3>
<p style="color:red;" id="negative"/>

<script >
function dataProcessing(list, id)
{
	var output = "";
	if(list.length == 0){
		if(id == "positive"){
			output = "<--- NO POSTIVE AFFECTING VARIABLE FOUND! -->";
		}
		else if(id == "negative"){
			output = "<--- NO NEGATIVE AFFECTING VARIABLE FOUND! -->";
		}
		
	}
	else{
		document.getElementById(id).style.fontSize = "140%";

		for (var i = 0 ; i < list.length; i++) {
			var name = list[i][0];
			var curWeek = list[i][1];
			var lastWeek = list[i][2];
			output += name  + ":  (" + curWeek.toFixed(2) + ") ";
			if(Math.abs(curWeek-lastWeek) < 0.1 && Math.abs(curWeek-lastWeek) > 0.0001){
				output += " SLIGHTLY "
			}
			if(Math.abs(curWeek) > Math.abs(lastWeek)){
				output += "INCREASED!!"
			}
			else if(Math.abs(curWeek) < Math.abs(lastWeek)){
				output += "DECREASED!!"
			}
			else{
				output += "NO CHANGE!!"
			}
			output += " LAST WEEK: (" + lastWeek.toFixed(2) +")" +"<br>" ;
		}
	}
	document.getElementById(id).innerHTML = output;
}

dataProcessing({{posaffectors|safe}}, "positive");
dataProcessing({{negaffectors|safe}}, "negative");

</script>


</body>
</html>
